<!DOCTYPE html>
<html lang="en">
<head>
    <title>BioAuth - {{username}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="container">
        <h1 class="text-center mb-4">Account Page</h1>
        <p class="text-center">Username: {{ username }}</p>
        <div class="text-center mt-3">
            <button class="btn btn-secondary" onclick="window.location.href='/logout'">Logout</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>