<!DOCTYPE html>
<html lang="en">

<head>
    <title>BioAuth - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="position-absolute vw-100 vh-100 start-0 top-0 z-n1">
    <svg width="fill" height="fill" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
        <g filter="url(#filter0_f_41_37)">
            <ellipse cx="1227" cy="713.5" rx="447" ry="409.5" fill="#8A76FF" fill-opacity="0.47"></ellipse>
        </g>
        <g filter="url(#filter1_f_41_37)">
            <circle cx="1472" cy="382" r="325" fill="#76FFE4" fill-opacity="0.4"></circle>
        </g>
        <g filter="url(#filter2_f_41_37)">
            <circle cx="620" cy="769" r="325" fill="#C3E4FF" fill-opacity="0.7"></circle>
        </g>
        <g filter="url(#filter3_f_41_37)">
            <circle cx="455" cy="282" r="325" fill="#F7DCFF" fill-opacity="0.7"></circle>
        </g>
        <defs>
            <filter id="filter0_f_41_37" x="478.2" y="2.20001" width="1497.6" height="1422.6"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                <feGaussianBlur stdDeviation="150.9" result="effect1_foregroundBlur_41_37"></feGaussianBlur>
            </filter>
            <filter id="filter1_f_41_37" x="845.2" y="-244.8" width="1253.6" height="1253.6"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                <feGaussianBlur stdDeviation="150.9" result="effect1_foregroundBlur_41_37"></feGaussianBlur>
            </filter>
            <filter id="filter2_f_41_37" x="-6.79999" y="142.2" width="1253.6" height="1253.6"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                <feGaussianBlur stdDeviation="150.9" result="effect1_foregroundBlur_41_37"></feGaussianBlur>
            </filter>
            <filter id="filter3_f_41_37" x="-171.8" y="-344.8" width="1253.6" height="1253.6"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                <feGaussianBlur stdDeviation="150.9" result="effect1_foregroundBlur_41_37"></feGaussianBlur>
            </filter>
        </defs>
    </svg>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="d-flex navbar-brand" href="#">
            <img src="../static/images/logoBioAuth.png" alt="logo" style="height: 40px;">
            BioAuth
        </a>
        <div class="d-flex">
            <button class="btn btn-outline-primary me-2">Register</button>
            <button class="btn btn-outline-secondary">Login</button>
        </div>
    </div>
</nav>








<!-- 
<body class="flex-column align-items-center justify-content-center vh-100 z-1">
    
    <div class="container text-center z-1">
        <h1 class="mb-4">BioAuth</h1>
        <h2 class="mb-4">Secure the Web With Your Face</h2>

        <h3 class="mb-3">Register User</h3>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary mx-2" onclick="window.location.href='/register'">Register with Password</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='/register-face-detection'">Register with Face Detection</button>
        </div>
        
        <h3 class="mb-3">Login</h3>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary mx-2" onclick="window.location.href='/login'">Login with Password</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='/login-face-detection'">Login with Face Detection</button>
        </div>
    </div>
</body> -->

</html>