<!DOCTYPE html>
<html lang="en">
<head>
    <title>BioAuth - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="container text-center">
        <h1 class="mb-4">BioAuth</h1>
        <h2 class="mb-4">Secure the Web With Your Face</h2>

        <h3 class="mb-3">Register User</h3>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary mx-2" onclick="window.location.href='/register'">Register with Password</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='/register-face-detection'">Register with Face Detection</button>
        </div>
        
        <h3 class="mb-3">Login</h3>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary mx-2" onclick="window.location.href='/login'">Login with Password</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='/login-face-detection'">Login with Face Detection</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>