<!DOCTYPE html>
<html lang="en">
<head>
    <title>BioAuth - Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="{{ url_for('password_auth_bp.login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('password_auth_bp.register') }}">Register here</a></p>
</body>
</html>
