<!DOCTYPE html>
<html lang="en">
<head>
    <title>BioAuth - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100">
    {% block login_content %}
    <div class="container"></div>
        <h1 class="text-center mb-4"> Login Page </h1>
         <form action="{{ url_for('password_auth_bp.login') }}" method="post" class="w-50 mx-auto">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        {% endblock %}
        <p class="text-center mt-3"> Don't have an account? <a href="{{ url_for('password_auth_bp.register') }}">Register here</a></p>
        <div class="text-center mt-3">
            <button class="btn btn-secondary" onclick="window.location.href='/'">Back To Homepage</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>