jupyter
ipykernel 
opencv-python 
numpy 
matplotlib 
pillow 
pandas 
scikit-learn 
tensorflow==2.15.0
keras==2.15.0
ml-dtypes==0.2.0
tensorboard==2.15.0
deepface
torch 
Flask 
Flask-SQLAlchemy 
supabase 
python-dotenv 
onnxruntime 
cryptography